<mat-card class="login-card">

	<mat-card-title class="text-center">
		Password Reset
	</mat-card-title>

	<mat-card-content class="text-center">
		<div>
			Password must be between 8-10 characters and contain at least 1 capital letter, 1 number, and 1 symbol (e.g. !,?,...)
		</div>

		<form [formGroup]="_forgotPassSNForm" (ngSubmit)="cmdSubmit_click()">

			<mat-form-field class="input-width">
				<input matInput placeholder="New Password" formControlName="newpassword" required [type]="hide ? 'password' : 'text'">
				<mat-icon matSuffix style="cursor:pointer;" matTooltip="View password" (click)="hide = !hide">{{ hide ? 'visibility'
					: 'visibility_off' }}</mat-icon>
				<mat-error *ngIf="!_forgotPassSNForm.controls['newpassword'].valid && _forgotPassSNForm.controls['newpassword'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>

			<mat-form-field class="input-width">
				<input matInput placeholder="Retype Password" formControlName="retypepassword" required [type]="hide ? 'password' : 'text'">
				<mat-error *ngIf="!_forgotPassSNForm.controls['retypepassword'].valid && _forgotPassSNForm.controls['retypepassword'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>

			<br />
			<p class="error">{{errorMessage}}</p>

			<button mat-raised-button type="submit" [disabled]="!_forgotPassSNForm.valid">Submit</button>

		</form>

	</mat-card-content>

</mat-card>