<mat-card class="patient-card">
	<mat-card-content>

		<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px" class="columns">
			<div fxFlex="50%">
				<h2>Terms of Use</h2>

				<h3>Welcome to eMD Access</h3>
				<p>this application ("Site") and related services are provide by eMD Access, in cooperation with Austin Regional Clinic. Please read the following information carefully.</p>

				<h3>Subscription and Registration for Texas Residents</h3>

				<p>Subscription access is available for Texas residents only. All users must reside in Texas a minimun of 6 months out of the calendar year.</p>

				<p>eMD Access is not an insurance plan. eMD Access is a subscription web-based service that enables direct access to physicians.</p>

				<p>Subscription is automatically renewed monthy, or every 30 days. At the end of the monthly subscription period, you will automatiaclly be signed up and billed for an additional subscription term of 30 days. If you do not wish your subscription to auto-renew, you may remove your credit card information prior to the end of your current subscription term.</p>

				<p>When creating an account, please provide current, complete, and accurate information. Please acces the Site features using only your user ID and password and protect the confidentiality of your account. Please refrain from harmful, unethical, or offensive communication.</p>
			</div>
			<div fxFlex="50%">
				<h2>Billing Policies</h2>
				<h3>Updating Credit Card</h3>
				<p>Patients may update and save credit card information at any time. Changes will become effective on the next schedule billing date.</p>

				<h3>Subscription Plan Cancellation</h3>
				<p>Patients can opt to cancel their individual or family subscription plan at any time and it will take effect at the end of their billing cycle. Partial-month refunds will not be issued.</p>

				<h3>Subscription Plan Updgrade</h3>
				<p>Patients can transition from an individual plan to a familly plan at any time and access for new members become effective immediately. The difference is billed at the time of the change. The updated balance will be charge on the existing monthlybilling schedule.</p>

				<h3>Subscription Plan Downgrade</h3>
				<p>Patients can transition from family plan to an individual plan at any time. Family plan acces remains active until the start of the next billing cycle. The updated balance will be charge on the existing monthly billing schedule. Partial-month refunds will not be issued.</p>

				<h3>Adding Additional Family Member(s)</h3>
				<p>Additional family members may be added to a full family account effective immediately. Additional member charges will be billed at the time of the charge. The updated balance will be charged on the existing monthly billing schedule.</p>
			</div>
		</div>
		
	</mat-card-content>
</mat-card>