<mat-card class="login-card">

    <mat-card-title class="text-center">
        New User Registration
    </mat-card-title>

    <mat-card-content class="text-center">

		<form [formGroup]="_userRegForm" novalidate>

			<mat-form-field>
				<input matInput placeholder="First Name" formControlName="firstName" required>
				<mat-error *ngIf="!_userRegForm.controls['firstName'].valid && _userRegForm.controls['firstName'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Last Name" formControlName="lastName" required>
				<mat-error *ngIf="!_userRegForm.controls['lastName'].valid && _userRegForm.controls['lastName'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput [matDatepicker]="picker" placeholder="Date of Birth" (focus)="picker.open()" formControlName="dateOfBirth" required>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<!-- Password Validation -->
			<br />

			<button mat-raised-button type="button" (click)="cmdPrevious_click()">Previous</button>
			<button mat-raised-button type="button" (click)="cmdRegisterUser_click()" [disabled]="!_userRegForm.valid">Continue</button>

		</form>

    </mat-card-content>

</mat-card>