<div fxLayout="row" fxLayoutAlign="end end">
    <mat-icon (click)="closeDialog()" class="hover-close">close</mat-icon>
</div>

<h2 mat-dialog-title class="dialog-title text-center">Change Password</h2>

<mat-dialog-content class="dialog-content text-center">
	
	<p>Password must be between 8-10 characters and contain at least 1 capital letter, 1 number, and 1 symbol (e.g. !,?,...)</p>

	<form [formGroup]="_formPassword" novalidate>

        <mat-form-field class="input-width">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Current Password" formControlName="currentPassword" required>
          <mat-icon matSuffix style="cursor:pointer;" matTooltip="View password" (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>

        <mat-form-field class="input-width">
          <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="New Password" formControlName="newPassword" required>
          <mat-icon matSuffix style="cursor:pointer;" matTooltip="View password" (click)="hide1 = !hide1">{{ hide1 ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>

        <mat-form-field class="input-width">
          <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword" required>
          <mat-icon matSuffix style="cursor:pointer;" matTooltip="View password" (click)="hide2 = !hide2">{{ hide2 ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>

        <!--<mat-checkbox matTooltip="View password" (change)="hide = !hide">Show Password</mat-checkbox>-->

        <div class="error" *ngIf="error">This passwords do not match. Please try again.</div>

      	<!-- Password Validation -->

      	<br>
        <button mat-raised-button color="primary" type="button" (click)="cmdConfirmNewPassword_click()" [disabled]="!_formPassword.valid">Confirm New Password</button>

	</form>

</mat-dialog-content>