<mat-card class="login-card">

    <mat-card-title class="text-center">
        Password Reset
    </mat-card-title>

    <mat-card-content class="text-center">

		<p style="color: red" *ngIf="showError">{{errorMessage}}</p>

		<form [formGroup]="_forgotPassForm" (ngSubmit)="cmdResetPass_click()">

			<div class="row">
			<mat-form-field class="input-width col-sm-6">
				<input matInput placeholder="Email" formControlName="email" required>
				<mat-error *ngIf="!_forgotPassForm.controls['email'].valid && _forgotPassForm.controls['email'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>

			<mat-form-field class="input-width col-sm-6">
				<input matInput placeholder="First Name" formControlName="firstName" required>
				<mat-error *ngIf="!_forgotPassForm.controls['firstName'].valid && _forgotPassForm.controls['firstName'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>
			</div>

			<mat-form-field class="input-width">
				<input matInput placeholder="Last Name" formControlName="lastName" required>
				<mat-error *ngIf="!_forgotPassForm.controls['lastName'].valid && _forgotPassForm.controls['lastName'].touched">{{titleAlert}}</mat-error>
			</mat-form-field>

			<mat-form-field class="input-width">
				<input matInput [matDatepicker]="picker" placeholder="Date of Birth" (focus)="picker.open()" formControlName="dateOfBirth" required>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			
			<br />

			<button mat-raised-button type="submit" color="primary" [disabled]="!_forgotPassForm.valid">Submit</button>

		</form>

    </mat-card-content>

</mat-card>