<div fxLayout="row" fxLayoutAlign="end end">
    <mat-icon (click)="closeDialog_click()" class="hover-close">close</mat-icon>
</div>

<h2 mat-dialog-title class="dialog-title text-center">End Visit Request</h2>

<mat-dialog-content class="dialog-content text-center">
	<p>Would you like to end this visit?</p>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="center start">
    <button mat-raised-button color="primary" (click)="endSession_click()">Yes</button>
    <button mat-raised-button (click)="closeDialog_click()">No</button>
</mat-dialog-actions>