.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
.radio-group{
  display: inline-flex;
  flex-direction: row;
}
.example-section {
  display: flex;  
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 60px;
}
.error-color
{
  color: red;
}