<mat-card class="login-card">

    <mat-card-title class="text-center">
        Password Reset
    </mat-card-title>

    <mat-card-content class="text-center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="!isLoaded">
                <mat-spinner></mat-spinner>
            </div>

            <div *ngIf="isLoaded" fxFill>
                <p class="error">{{errorMessage}}</p>

                <form [formGroup]="_forgotPassSQForm" (ngSubmit)="cmdSubmit_click()">
                    <mat-form-field class="input-width">
                        <label>{{securityQuestion}}</label>
                        <input matInput formControlName="securityQuestion">
                        <mat-error *ngIf="!_forgotPassSQForm.controls['securityQuestion'].valid && _forgotPassSQForm.controls['securityQuestion'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>

                    <br />

                    <button mat-raised-button type="submit" color="primary" [disabled]="!_forgotPassSQForm.valid">Submit</button>

                </form>
            </div>
        </div>
    </mat-card-content>

</mat-card>