@import '../../../../form-elements.css';

.mat-form-field {
	max-width: none;
}

.mat-datepicker-toggle {
	font-size: 2.4rem;
	color: #939393;
	vertical-align: middle;
}

.columns {
	max-width: 70rem;
	margin: 0 auto;
}