<mat-card class="patient-card">

	<div *ngIf="!isLoaded" fxLayoutAlign="center center">
		<mat-spinner></mat-spinner>
	</div>

	<div *ngIf="isLoaded">
		<mat-card-title class="text-center">Medical Information for {{ patient.FirstName}} {{ patient.LastName}}</mat-card-title>

		<form>
			<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="30px" class="columns">
				<div fxFlex="50%">

					<h3>Medical History</h3>
					<div class="medical-history-checkbox" *ngFor="let item of diseases">
						<mat-checkbox [checked]="isChecked(item.ID)" (change)="onChangeCB($event, item.ID)">{{item.Value}}</mat-checkbox>
					</div>
					<div class="medical-history-checkbox">
            <mat-checkbox [checked]="disableInput" (change)="enableOtherInput($event.checked)">Other</mat-checkbox>
					</div>
					<mat-form-field>
						<input matInput placeholder="Other" [(ngModel)]="otherDisease" [ngModelOptions]="{standalone: true}" [(disabled)]="disableInput">
					</mat-form-field>

				</div>
				<div fxFlex="50%">

					<h3>Primary Care Provider*</h3>
					<div class="editable-item" *ngIf="isProviderEmpty()" fxLayout="row" fxLayoutAlign="space-between start">
						<div>
							Name: {{provider.DisplayName }}<br>
							City: {{provider.City}}<br>
							State: {{provider.State}} 
						</div>
						<div>
							<mat-icon color="accent" class="button-hover-cursor" (click)="editProvider()">edit</mat-icon>
							<mat-icon color="accent" class="button-hover-cursor" (click)="deleteProvider()">delete</mat-icon>
						</div>
					</div>
					<div *ngIf="!isProviderEmpty()">
						<button [disabled]="isProviderEmpty()" mat-mini-fab color="accent" (click)="openDialogPrimaryCareProvider()">
							<mat-icon>add</mat-icon>
						</button> Add Primary Care Provider
					</div>

					<h3>Pharmacy *</h3>
					<div class="editable-item" *ngIf="isPharmacyEmpty()" fxLayout="row" fxLayoutAlign="space-between center">
						<div>{{pharmacy.BusinessName}}</div>
						<div>
							<mat-icon color="accent" class="button-hover-cursor" (click)="editPharmacy()">edit</mat-icon>
							<mat-icon color="accent" class="button-hover-cursor" (click)="deletePharmacy()">delete</mat-icon>
						</div>
					</div>
					<div *ngIf="!isPharmacyEmpty()">
						<button [disabled]="isPharmacyEmpty()" mat-mini-fab color="accent" (click)="openDialogPharmacy()">
							<mat-icon>add</mat-icon>
						</button> Add Pharmacy
					</div>

					<h3>Allergies</h3>
					<div class="editable-item" *ngFor="let item of medicalInfo.Allergies; let i = index" fxLayout="row" fxLayoutAlign="space-between center">
					<div>{{item.Name}}</div>
						<div>
							<mat-icon color="accent" class="button-hover-cursor" (click)="editAllergy(item, i)">edit</mat-icon>
							<mat-icon color="accent" class="button-hover-cursor" (click)="deleteAllergy()">delete</mat-icon>
						</div>
					</div>
					<button mat-mini-fab color="accent" (click)="openDialogAllergy()">
						<mat-icon>add</mat-icon>
					</button> Add Allergy

					<h3>Medications</h3>
					<div class="editable-item" *ngFor="let item of medicalInfo.Medications; let i = index" fxLayout="row"
					 fxLayoutAlign="space-between center">
						<div>{{item.Name}}</div>
						<div>
						  	<mat-icon color="accent" class="button-hover-cursor" (click)="editMedication(item, i)">edit</mat-icon>
						  	<mat-icon color="accent" class="button-hover-cursor" (click)="deleteMedication()">delete</mat-icon>
						</div>
					</div>
					<button mat-mini-fab color="accent" (click)="openDialogMedication()">
						<mat-icon>add</mat-icon>
					</button> Add Medications

					<h3>Surgeries</h3>
					<div class="editable-item" *ngFor="let item of medicalInfo.Surgeries; let i = index" fxLayout="row" fxLayoutAlign="space-between center">
						<div>{{item.Name}}</div>
						<div>
						  	<mat-icon color="accent" class="button-hover-cursor" (click)="editSurgery(item, i)">edit</mat-icon>
						  	<mat-icon color="accent" class="button-hover-cursor" (click)="deleteSurgery()">delete</mat-icon>
						</div>
					</div>
					<button mat-mini-fab color="accent" (click)="openDialogSurgery()">
						<mat-icon>add</mat-icon>
					</button> Add Surgeries

				</div>
			</div>

			<div class="text-center text-green" *ngIf="showMessage && message == 'Success'">{{ message }}</div>
			<div class="text-center text-red" *ngIf="showMessage && message != 'Success'">{{ message }}</div>

			<div class="text-center">
				<br>
				<button mat-raised-button type="button" [disabled]="isAllInformation()" (click)="cmdRegisterMedicalinformation_click()">Save</button>
			</div>

			<p class="text-center">
				Required fields (*) need to be completed before proceeding
			</p> 

		</form>
	</div>

</mat-card>