<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="text-center">
            <strong>Subscription Total</strong>
            <p class="text-red">{{total_Subcription | currency}}</p>
            <p>Plan starts [current date] and will be renewed [next payment date].</p>

            <p>
                <strong>HSA/FSA Disclaimer:</strong> eMD Access cannot guarantee HSA/FSA eligibility or reimbursement.
                We do not recommend
                using HSA/FSA cards for recurring subscription services unless you have confirmed benefits with your
                plan.
            </p>

            <h2>Please enter payment information</h2>
        </div>

        <form [formGroup]="_form" (ngSubmit)="onSubmit()">
            <div fxLayout fxLayout.xs="column" fxLayoutGap="30px" class="columns">
                <div fxFlex="50%">

                    <mat-form-field>
                        <input matInput type="text" formControlName="firstname" id="firstname" placeholder="Firstname">
                        <mat-error *ngIf="!_form.controls['firstname'].valid && _form.controls['firstname'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="text" formControlName="lastname" id="lastname" placeholder="Lastname">
                        <mat-error *ngIf="!_form.controls['lastname'].valid && _form.controls['lastname'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput type="number" formControlName="card_number" id="card_number" placeholder="Credit Card Number">
                        <mat-error *ngIf="!_form.controls['card_number'].valid && _form.controls['card_number'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>

                    <div fxLayout="column">
                        <div>
                            <label>Expiration date</label>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">
                                <mat-form-field fxFlex="30">
                                    <mat-select formControlName="month" placeholder="Month">
                                        <mat-option *ngFor="let month of months" [value]="month">
                                            {{month}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex="30">
                                    <mat-select formControlName="year" placeholder="Year">
                                        <mat-option *ngFor="let year of years" [value]="year">
                                            {{year}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <mat-form-field>
                        <input matInput [type]="hideSecurityCode ? 'password' : 'number'" (click)="showCharacters()"
                            (blur)="hideCharacters()" formControlName="security_code" id="security_code" placeholder="Security Code">
                        <mat-error *ngIf="!_form.controls['security_code'].valid && _form.controls['security_code'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="50%">
                    <strong>Billing Address</strong>
                    <mat-form-field>
                        <input matInput type="text" formControlName="bill_address" id="bill_address" placeholder="Address">
                        <mat-error *ngIf="!_form.controls['bill_address'].valid && _form.controls['bill_address'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" formControlName="bill_city" id="bill_city" placeholder="City">
                        <mat-error *ngIf="!_form.controls['bill_city'].valid && _form.controls['bill_city'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-select placeholder="State" id="bill_state" formControlName="bill_state" required>
                            <mat-option *ngFor="let st of states" value="{{st.value}}">
                                {{ st.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!_form.controls['bill_state'].valid && _form.controls['bill_state'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>




                    <mat-form-field>
                        <input matInput type="text" formControlName="bill_zip_code" id="bill_zip_code" placeholder="Zip Code">
                        <mat-error *ngIf="!_form.controls['bill_zip_code'].valid && _form.controls['bill_zip_code'].touched">{{titleAlert}}</mat-error>
                    </mat-form-field>
                </div>
            </div>


                <div class="error text-center" *ngIf="wrongCard"><br>Credit card not valid. Please try again.</div>

                <div class="text-center">
						<br>
                        <button mat-raised-button type="button" (click)="goBack()">
                            Previous</button>

                <button mat-raised-button color="primary" type="submit" [disabled]="!_form.valid">Continue</button>

            </div>



        </form>


    </mat-card-content>
</mat-card>