.hover-close:hover{
    cursor: pointer;  
  }

::ng-deep.mat-card {
	display: block !important;
	border: 1px solid #ccc !important;
	box-shadow: none !important;
	transition: none !important;
	padding: 2rem !important;
	margin: 2rem 0 -2rem 0 !important;
}
::ng-deep.mat-card .mat-progress-bar * {
	vertical-align: middle !important;
}