
<mat-card class="login-card">


		<mat-card-title class="text-center">
			New User Registration
		</mat-card-title>


		<mat-card-subtitle class="text-center">
			There is already an account associated with this information.
			<br>Please return to log in screen and select Log In.
		</mat-card-subtitle>


	<mat-card-content class="text-center">
		<p>If you cannot remember your login information, try "Forgot Password" or contact customer service at 512-421-5678.</p>

		<p>Customer service hours are 8 am - 5 pm CST, Monday - Friday.</p>

		<button (click)="onClick()" mat-raised-button>Okay</button>
		
	</mat-card-content>

</mat-card>