<mat-card class="login-card">

    <mat-card-title class="text-center">
        Account Verification
    </mat-card-title>

    <mat-card-content class="text-center">
        <p>
            Step 3 of 4
        </p>
        <div fxLayoutAlign="center center" *ngIf="!isLoad">
            <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="isLoad">
            <p>
                Before we can complete your registration we need to verify your account.
                Once verified, your card will be charged.
            </p>
            <p>
               Would you prefer to receive the verification code by text or by email?
            </p>
            <form [formGroup]="_formFactors">

        <mat-radio-group class="radio-group" fxLayout="column" fxLayoutAlign="center center">
                    <mat-radio-button (change)=selectOption($event) value="phone">Text {{ phone }}</mat-radio-button>
					<mat-radio-button (change)=selectOption($event) value="email">Email {{ email}}</mat-radio-button>
        </mat-radio-group>


        <button mat-raised-button (click)="sendCode()" [(disabled)]="isDisabled">Send Code</button>

                <div fxLayoutAlign="center start" *ngIf="!isLoaded && showSpinner">
                    <mat-spinner></mat-spinner>
                </div>

                <div *ngIf="isLoaded">
                    <br />
                    <mat-form-field>
                        <input matInput (change)="someCode($event.target.value)" type="number" max="6" min="6"
                            placeholder="Please enter verification code" formControlName="code" required>
                    </mat-form-field>

                    <p *ngIf="failedVerfication" class="error">Verification failed. Please retry or press Send Code to
                        have a new code sent to you.</p>

                    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="isDisabledSubmit">Verify
                        and Login</button>

                </div>

            </form>
        </div>

    </mat-card-content>

</mat-card>