<mat-card class="patient-card">
  <div *ngIf="!isLoaded" fxLayoutAlign="center start">
    <mat-spinner>
    </mat-spinner>
  </div>

  <mat-card-title class="text-center" *ngIf="isLoaded">
    Please set a new password for {{ CreatePasswordPageDTO.PatientName }}
  </mat-card-title>



  <mat-card-content class="text-center" *ngIf="isLoaded">

    <p>
      Though still a member of the {{ CreatePasswordPageDTO.ParentAccountName }} family, this profile will now be
      private.
    </p>

    <p>
      Password must be between 8-10 characters and contain at least 1 capital letter, 1 number, and 1 symbol (e.g.
      !,?,...)
    </p>

    <form [formGroup]="_formPassword" novalidate>

      <mat-form-field class="input-width">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" formControlName="newPassword"
          required>
        <mat-icon matSuffix style="cursor:pointer;" matTooltip="View password" (click)="hide = !hide">{{ hide ?
          'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>

      <mat-form-field class="input-width">
        <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword"
          required>
        <mat-icon matSuffix style="cursor:pointer;" matTooltip="View password" (click)="hide1 = !hide1">{{ hide ?
          'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>

      <!--<mat-checkbox matTooltip="View password" (change)="hide = !hide">Show Password</mat-checkbox>-->

      <div class="error" *ngIf="error">This passwords do not match. Please try again.</div>

      <!-- Password Validation -->

      <br>
      <button mat-raised-button color="primary" type="button" (click)="cmdConfirmPassword_click()" [disabled]="!_formPassword.valid">Submit</button>

    </form>
  </mat-card-content>
</mat-card>