<mat-card class="login-card">

    <mat-card-title class="text-center">
        New User Registration
    </mat-card-title>

    <mat-card-content class="text-center">

        <p>An activation email has been sent to {{ email }}</p>

            <p>If you do not receive an activation email please 
            conctact customer service at <a href="tel:512-421-5678">512-421-5678</a></p>
            
            <button mat-raised-button (click)="cmd_Login_click()">Okay</button>
    </mat-card-content>

</mat-card>